@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-moss-900 text-sage-50 antialiased overflow-hidden;
    font-feature-settings: "cv02", "cv03", "cv04";
  }
}

@layer utilities {
    .glass-panel {
        @apply bg-moss-800/20 backdrop-blur-md border border-white/5 shadow-xl;
    }
}